In [0]:
%sql
use catalog jpm;
create schema if not exists om;
use schema om;

In [0]:
df=spark.read.csv("/Volumes/jpm/naval/csv/1000_richest_people_in_the_world.csv",header=True,inferSchema=True)

df1=df.withColumnRenamed("Name","name")\
    .withColumnRenamed("Net Worth (in billions)","net_worth_in_billion")
df1

# df1.write.mode("overwrite").saveAsTable("jpm.om.richest_people")

In [0]:
from pyspark.sql import Row

new_entry = Row(name="Ac", country='INDIA', industry='FinTech', net_worth_in_billion=1.5, company="Algo")
df1.append(name:"Ac", country='INDIA', industry='FinTech', net_worth_in_billion=1.5, company="Algo")
df1 = df1.union(spark.createDataFrame([new_entry]))
display(df1)

In [0]:
%sql
select * from jpm.om.richest_people

In [0]:
# /Volumes/jpm/naval/csv/1000_richest_people_in_the_world.csv